/* Doralee Mendez */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--light-blue: #55bcd5;
	--white: #fff;
	--dark-gray: #222222;
	--medium-blue: #499BD2;
	--purple: #9B26B0;
	--yellow: #F6D64A;
  --light-gray: #EAEAEA;
	font-size: 16px;
	font-family: "Montseratt", "Molle", sans-serif;
  box-sizing: border-box;
	
}

.sr-only{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/*------SKIP LINK STYLES-----*/

#skip{
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}
 
#skip:focus{
  position: static;
  width: auto;
  height: auto;
}

body {
  line-height: 1.35;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 8px;
}


/*----- MAIN STYLES -----*/
main{
	padding: 0 0.25rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(427px));
	gap: 0.5rem;
	max-width: 1920px;
	margin: 0 auto;
  }

img {
   display: block;
    max-width: 100%;
    margin: 0.5em 0;
}

q {
	font-style: italic;
	font-weight: normal;
	padding: 5px;
	font-size: 1rem;
	display: block;
	margin: 1rem 0;
	line-height: 1;
}

p {
	font-weight: normal;
	padding: 2px;
	font-size: 1rem;
	display: block;
	margin: 1rem 0;
	line-height: 1;
}

/*-----HEADER STYLES-----*/

header{
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-content: space-evenly;
	padding: 5rem;
  background-image: linear-gradient(#55bcd5, #fff);
}

.logo{
	padding: 1;
}
  
/*-----HEADING STYLES-----*/
  
  h1, h2, h3 {
	font-weight: bold;
	font-family: "Molle", sans-serif;
  text-align: left;
}

h1{
	font-size: 3.5rem;
	margin: 2rem 0;
	
}

h2{
	font-size: 3rem;
	margin: 2rem 0;
}

h3{
	font-size: 2rem;
	margin: 2rem auto;
}

h4{
	font-size: 1rem;
	margin: 1rem;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
  text-align: center;
}

 /* ----- SECTION STYLES ----- */

#intro{
	width: 100%;
  text-align: left;
  padding: 2;
}

section {
	padding:5%;
  }

img {
	display: block;
  }

#plan{
	width: 100%;
  text-align: center;
  padding: 2px;
  display: block;
  background-color: var(--yellow);
}


#testimonials{
	width: 60;
  text-align: center;
  font-size: 12px;
  padding: 4px;
 
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

#about{
	display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 2;
   background-color: var(--medium-blue);
}

label{
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

input[type=email] {
	border: 2px solid var(--purple);
	border-radius: 4px;
	width: 50%%;
	margin-bottom: .5rem;
	padding: 1rem;
	height: 2rem;
  }

  input[type=text] {
	border: 2px solid var(--purple);
	border-radius: 4px;
	width: 50%;
	margin-bottom: .5rem;
	padding: 1rem;
	height: 2rem;
  }

  input[type=tel] {
	border: 2px solid var(--purple);
	border-radius: 4px;
	width: 50%;
	margin-bottom: .5rem;
	padding: 1rem;
	height: 2rem;
  }

  input, select{
	display: block;
	width: 50%;
	margin-bottom: .5rem;
	padding: 1rem;
	height: 2rem;
	border: 2px solid var(--purple);
	border-radius: 4px;
}

fieldset{
	display: flex;
	flex-wrap: no-wrap;
	margin: 1rem auto;
}


legend{
	font-weight: bold;
	flex-grow: 1;
}

fieldset label, fieldset input{
	display: inline-block;
	margin: 0.75rem 0;
	color: var(--purple);
	font-weight: normal;
}

fieldset label{
	display: flex;
	flex-wrap: no-wrap;
  color: var(--purple);
}

fieldset input{
	height: 1.5rem;
	display: flex;
	flex-wrap: no-wrap;
  color: var(--purple);
}


input[type=submit]{
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: .75rem;
	background-color: var(--purple);
	padding: 0.5rem;
	border: none;
	width: 50%;
}
  /* ----- NAVIGATION STYLES ----- */



 /* -----MOBILE STYLES----- */

@media screen and (min-width:428px){
	
	h1{
	margin: 2;
	display: flex;
	justify-content: flex-start;
	}

	h2 {
		margin: 2;
		display: flex;
		justify-content: flex-start;
		padding: 3px;
		}

	img {
		max-width: 100%;
		height: auto;
		display:flex;
	}
	

#plan div {
	display:flex;
	flex-flow: column wrap;
	width: 100%;
	justify-content: center;
	align-items: stretch;

}	
	#plan section {
		flex: 1 1 20em;
		background-color: var(--light-blue);
		margin: 8px auto;
		padding: 15px;
		width: 80%;
		border: 2px solid white;
		border-radius: 3%;
		height: 100%;
	}
	
	#plan img{
		width: auto;
		max-height: 50%;
	}

	#about div {
		display:flex;
		flex-flow: row wrap;
		width: 100%;
		justify-content: center;

	
	}	
		#about section {
			margin: 13px auto;
			padding: 5px;
			width: 80%;
			display:flex;
			flex-flow: column wrap;
		}
		
		#about img{
			width: auto;
			max-height: 50%;
		}
	}

	#menuToggle {
		display: block;
		position: relative;
		top: 50px;
		left: 50px;  
		z-index: 1;  
		-webkit-user-select: none;
		-moz-user-select: none;
		 -ms-user-select: none;
			 user-select: none;
	  }
	  
	  #menuToggle a {
		text-decoration: none;
		color: #232323;
		-webkit-transition: color 0.3s ease;
		-o-transition: color 0.3s ease;
		transition: color 0.3s ease;
	  }
	  
	  #menuToggle a:hover {
		color: #4f7794;
	  }
	  
	  
	  /* The hamburger button hidden inside an input element */
	  #menuToggle input {
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		top: -7px;
		left: -5px;  
		padding: 0;
		cursor: pointer;  
		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */  
		-webkit-touch-callout: none;
	  }
	    /* 
	  #menuToggle label {
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
	  }
	  #menuToggle label span {
		display: none;
	  }
	  
	  /*
	   * Hamburger
	   */
	  #menuToggle label {
		display: block;
		width: 30px;
		height: 2px;
		margin-bottom: 6px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;  
		z-index: 1;  
		-webkit-transform-origin: 4px 0px;  
			-ms-transform-origin: 4px 0px;  
				transform-origin: 4px 0px;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	  }
	  
	  #menuToggle label div:first-child {
		-webkit-transform-origin: 0% 100%;
			-ms-transform-origin: 0% 100%;
				transform-origin: 0% 100%;
	  }
	  
	  #menuToggle label div:nth-child(2) {
		  -webkit-transform-origin: 0% 0%;
			-ms-transform-origin: 0% 0%;
				transform-origin: 0% 0%;
	  }
	  
	  /* 
	   * Change the color of the hamburger when toggled
	   */
	  #menuToggle input:checked + label div {
		background: #232323;
	  }
	  
	  /*
	   * Use absolute positioning to place the menu off-screen
	   */
	  #menuToggle ul {
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 50px;
		padding-top: 125px;
		background: #ededed;
		list-style-type: none;
		/* Hide the menu off-screen to the left */
		left: -100%;
		-webkit-transition: left 0.3s ease;
		-o-transition: left 0.3s ease;
		transition: left 0.3s ease; 
	  }
	  
	  #menu li {
		padding: 10px 0;
		font-size: 22px;
	  }
	  
	  /*
	   * Slide the menu in from left when the input is checked
	   */
	  #menuToggle input:checked ~ ul {
		left: 0;
	  }

	  #testimonials section {
		flex-flow: column wrap;
		flex-direction: column;
	  }

	  #contact div {
		align-items: center;
	  }
/* -----TABLET STYLES----- */
@media screen and (min-width:768px){
	flex-direction: row;

img {
	max-width: 100%;
	height: auto;
	flex: auto;
}
	#plan div {
		display:flex;
		flex-flow: row;
		width: 100%;
		justify-content: center;
	
	}	
		#plan section {
			display:flex;
			flex-wrap: wrap;
			background-color: var(--light-blue);
			margin: 9px auto;
			padding: 10px;
			width: 70%;
			border: 2px solid white;
			border-radius: 3%;
			height: 100%;

		}
		
		#plan img{
			width: auto;
			max-height: 38%;
		}
	
		#about div {
			display:flex;
			flex-flow: row wrap;
			width: 100%;
			justify-content: center;
			align-items: stretch;
		
		}	
			#about section {
				margin: 13px auto;
				padding: 5px;
				width: 40%;
				display:flex;
				flex-flow: row wrap;
			}
			
			#about img{
				width: auto;
				max-height: 50%;
			}
	#testimonials section {
		flex-flow: row wrap;
		flex-direction: row;
		padding: 5px;
	  }
	
	  #testimonials div {
		display:flex;
		flex-flow: row wrap;
		width: 100%;
		justify-content: center;
		align-items: stretch;
	
	}	
	
}

/* -----LARGE SCREEN STYLES-----
@media screen and (min-width:1920px){
	
}
*/
/* ----- FOOTER STYLES ----- */

footer{
  display: flex;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  padding: 2rem 1rem 1rem 1rem;
  line-height: 2;
}
footer section{
	display:flex;
  max-width: 300px;
  margin: 2rem auto 1rem auto;
}
