/* Doralee Mendez */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--light-gray: #eaeaea;
	--white: #fff;
	--black: #000;
	font-size: 16px;
	font-family: Montseratt, Molle, sans-serif;
	
}

body {
background-color: var(--light-gray);
  line-height: 1.35;
  box-sizing: border-box;
  font-family: sans-serif;}

/*----- MAIN STYLES -----*/
main{
	padding: 0 0.25rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 0.5rem;
	max-width: 1000px;
	margin: 0 auto;
  }

img {

  }
  

/*-----HEADER STYLES-----*/
header{
	display: flex;
	align-items: left;
	align-content: left;
	padding: 1rem 0;
	background-color: var(--light-gray);
}

#logo{
	padding: 0;
}
  
/*-----HEADING STYLES-----*/
  
  h1, h2, h3, h4{
	font-weight: bold;
	font-family: "Molle"
}

h1{
	font-size: 1.65rem;
	margin: 0.5rem 0;
	text-align: center;
}

h2{
	font-size: 1.45rem;
	margin: 0.5rem 0;
}

h3{
	font-size: 1.35rem;
	margin: 1rem auto;
}
  
 /* -----MOBILE STYLES----- */

@media screen and (min-width:428){}

img {

}

/* -----TABLET STYLES----- */
@media screen and (min-width:768){
	
}

/* -----LARGE SCREEN STYLES----- */
@media screen and (min-width:1920){
	
}
